.config-data-box {
    padding-left: 30px;
}

.config-entry-box {
    max-width: 300px;
    background-color: aqua;
}

.config-box {
    gap: 20px;
    margin-bottom: 20px;
}

.boxes {
    display: flex;
}

.config-relation-box {
    width: 100%;
}

.selected {
    border: 5px solid red;
}

.relation-entry-box {
    background-color: lightgreen;
    max-width: 300px;
    margin-bottom: 10px;
}